<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="BUILD.ab013e28-2853-4e99-9e14-5d22b8e0324f" Publisher="CN=Paulo" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GOT Prolegis</DisplayName>
    <PublisherDisplayName>Paulo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GOT.Prolegis.WIN8.App">
      <VisualElements DisplayName="GOT.Prolegis.WIN8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GOT.Prolegis.WIN8" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>